<div class="login-content">
    <div class="main-content">
        <div class="main-content-head">
            <h3>{{title}}</h3>
            <p><span>发布时间：{{putDate}}</span><span>编辑:{{author}}</span><span>浏览({{see}})</span></p>

        </div>
        <div class="main-content-body">
            {{{content}}}{{{content}}}{{{content}}}{{{content}}}{{{content}}}{{{content}}}{{{content}}}{{{content}}} 
            <br>
            {{{content}}}{{{content}}}{{{content}}}{{{content}}}{{{content}}}{{{content}}}{{{content}}}{{{content}}} 
            <br>
            {{{content}}}{{{content}}}{{{content}}}{{{content}}}{{{content}}}{{{content}}}{{{content}}}{{{content}}} 
            <br>
            {{{content}}}{{{content}}}{{{content}}}{{{content}}}{{{content}}}{{{content}}}{{{content}}}{{{content}}} 
            <br>
            {{{content}}}{{{content}}}{{{content}}}{{{content}}}{{{content}}}{{{content}}}{{{content}}}{{{content}}} 
            <br>
            {{{content}}}{{{content}}}{{{content}}}{{{content}}}{{{content}}}{{{content}}}{{{content}}}{{{content}}} 
            <br>
            {{{content}}}{{{content}}}{{{content}}}{{{content}}}{{{content}}}{{{content}}}{{{content}}}{{{content}}} 
            <br>
            {{{content}}}{{{content}}}{{{content}}}{{{content}}}{{{content}}}{{{content}}}{{{content}}}{{{content}}} 
            <br>
            
        </div>
        <div class="main-content-nav">
            <nav>
            <ul class="pager">
                <li><a href="#">上一页</a></li>
                <li><a href="#">下一页</a></li>
            </ul>
            </nav>
        </div>
    </div>
</div>