<div class="login-content">
    <div ng-controller="imgContent" class="imgContent">
        <div style="height:auto;">
          <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
            <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
              <img ng-src="{{slide.image}}" style="margin:auto;">
              <div class="carousel-caption">
                <h4>Slide {{slide.id}}</h4>
                <p>{{slide.text}}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="spide">
          <div class="col-md-12">
              <div class="input-group">
                  <div class="input-group-addon">幻灯播放</div>
                  <input type="number" class="form-control" ng-model="myInterval" placeholder="请输入间隔毫秒数...">
              </div>
          </div>
        </div>
      </div>
</div>