<section class="index-content">
    <div class="container youjiTitle">
        <div class="row">
            <div class="form-group">
                <div class="col-lg-12 ">
                    <input type="text" class="form-control input-lg" ng-model="youjiData.title"  name="youjiTitle" placeholder="请输入游记标题">
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div ueditor id="container"  config="{{config}}"  ></div>
                <button ng-click="getContent('container')" >获取container内容</button>  
            </div>
        </div>
        <input type="button" value="保存" class="btn btn-primary" ng-click="youjiSubmit()">
    </div>
</section>